services:
  victim:
    image: alpine:latest
    container_name: victim
    networks:
      mynetwork:
        ipv4_address: 172.18.0.10
    stdin_open: true
    tty: true
    volumes:
      - ./victim_login.sh:/victim_login.sh
    command: ["sh", "/victim_login.sh"]

  attacker:
    build:
      context: .
      dockerfile: attacker.Dockerfile
    container_name: attacker
    networks:
      mynetwork:
        ipv4_address: 172.18.0.20
    stdin_open: true
    privileged: true
    tty: true
    command: ["/bin/bash"]

  website:
    image: nginx:alpine
    container_name: website
    networks:
      mynetwork:
        ipv4_address: 172.18.0.30
    ports:
      - "8082:80"
    volumes:
      - ./website:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/nginx.conf

networks:
  mynetwork:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16
          gateway: 172.18.0.1

